{% extends "./base.html" %}

{% block top %}
  <div class="base-title-ins">
    <div class="welcome-msg col-sm align-center">
      <div class="text-shadow" >Welcome to</div>
    </div>
    <div class="row text-center">
      <div class="col-sm align-center">
        <h1 class="text-shadow"><strong>Michael's Portfolio</strong></h1>
      </div>
    </div>
    <div class="socmed col-sm align-center">
      <a href="https://www.instagram.com/michaelachd" class="insta fab fa-instagram"></a>
      <a href="https://www.linkedin.com/in/michael-angelo-chandra-03215b220/" class="insta fab fa-linkedin"></a>
      <a href="https://github.com/michaelAngelo1" class="insta fab fa-github"></a>
    </div>
  </div>
{% endblock %}

{% block contents %}
{% endblock %}
{% block typewriter %}
{% endblock %}
{% block certificates %}

<style>
    div.gallery {
      margin: 20px;
      float: left;
      width: 450px;
    }
    
    div.gallery img {
      width: 450px;
      height: 300px;
    }
    
    div.desc {
      padding: 15px;
      text-align: center;
    }

    div.gallery-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
</style>

<div class="gallery-container">
    <div class="gallery">
        <a target="_blank" href="https://www.hackerrank.com/certificates/3be122624fde">
        <img src="https://i.pinimg.com/564x/e2/b2/b3/e2b2b3f462e03c304e7e3f4b888c081b.jpg" alt="Cinque Terre" width="1200" height="800">
        </a>
    </div>

    <div class="gallery">
        <a target="_blank" href="https://www.hackerrank.com/certificates/3646d2eecb5d">
        <img src="https://i.pinimg.com/564x/59/21/f3/5921f3bcfa6332427323e23c4d025152.jpg" alt="Cinque Terre" width="1200" height="800">
        </a>
    </div>

    <div class="gallery">
      <a target="_blank" href="https://www.hackerrank.com/certificates/c4a89f343cce">
      <img src="https://i.pinimg.com/564x/c6/ce/eb/c6ceeb5b8b012f09c403c9abd951f5fa.jpg" alt="Cinque Terre" width="1200" height="800">
      </a>
    </div>

    <div class="gallery">
      <a target="_blank" href="https://academy.dqlab.id/Certificate_check_2/resultV2/DQLABINTR1DCGLMW">
      <img src="https://i.pinimg.com/564x/fc/29/e6/fc29e684f34e4d7e1545f8f5173cde9a.jpg" alt="Cinque Terre" width="1200" height="800">
      </a>
    </div>

    <div class="gallery">
      <a target="_blank" href="https://academy.dqlab.id/certificate/pdf/DQLABINTP1IAOAND">
      <img src="https://i.pinimg.com/564x/a0/ba/0c/a0ba0cb0b6762afb5d840195bea038a9.jpg" alt="Cinque Terre" width="1200" height="800">
      </a>
    </div>

    <div class="gallery">
      <a target="_blank" href="https://academy.dqlab.id/Certificate_check_2/resultV2/DQLABSQLT2USWURB">
      <img src="https://i.pinimg.com/564x/7d/da/12/7dda128b3a8bb229db5fa0d2a8a2f45e.jpg" alt="Cinque Terre" width="1200" height="800">
      </a>
    </div>
</div>

{% endblock %}
